.idea/
build/
vendor/

# Configuration
*.toml
*.json
config.yaml

# Coverage
coverage.*

# Docker SQL data for dev
db_data
callisto-config
.env

# Private settings
.vscode

.nobackup

# asdf configuration
.tool-versions
